<%= simple_form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <iframe src="//www.youtube.com/embed/<%=@video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
  <div class="form_a">
    <%= f.input :youtube_id, as: :hidden %>

    <%= f.input :title %>

    <%= f.input :description %>
    <div class="split">
      <%= f.input :expert %>
      <%= f.input :category %>
    </div>
  </div>
  <div class="form_b">
    <div class="split">
      <%= f.input :subcategory %>
      <%= f.input :date %>
    </div>
    <div class="actions">
      <%= f.button :submit, "Editer la vidéo",  class: 'btn-cta' %>
    </div>
  </div>
<% end %>
