<%= render 'shared/navbar' %>
<div class="container">
  <button id="collapse-button" class="btn btn-cta" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample">
    +
  </button>
  <div class="collapse" id="collapseForm">
    <div class="add-other">
      <%= simple_form_for(@video) do |f| %>
        <div class="form_a">
          <%= f.input :url, label: "URL" %>
          <%= f.input :title, label: "Titre" %>

          <%= f.input :description, label: "Description" %>
          <%= f.input :expert, label: "Expert" %>

        </div>
        <div class="form_b">
          <div class="split">
            <%= f.input :category, selected:["Développement du dirigeant"], collection: Video::CATEGORY  %>
            <!-- p.select(:category, options_for_select(Presentation::FR_CATEGORY, "Business")) -->
            <%= f.input :tag, label: "Tag", selected: "Parole d'expert", collection: Video::TAG %>
            <%= f.input :date %>
          </div>

          <div class="actions">
              <%= f.button :submit, "Importer",  class: 'btn-cta' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <% @videos.each do |video| %>

    <%= simple_form_for(@video) do |f| %>
    <div class="thumbnail">
      <a href="https://www.youtube.com/watch?v=<%= video.id %>">

        <%= image_tag video.thumbnail_url %>

      </a>
    </div>
      <div class="form_a">
        <%= f.input :youtube_id, label: :youtube_id, as: :hidden, input_html: { value: video.id} %>

        <%= f.input :title, label: "Titre", input_html: { value: video.title} %>

        <%= f.input :description, label: "Description", input_html: { value: video.description} %>

        <%= f.input :expert, label: "Expert" %>

      </div>
      <div class="form_b">
        <div class="split">
          <%= f.input :category, selected:["Développement du dirigeant"], collection: Video::CATEGORY  %>
          <!-- p.select(:category, options_for_select(Presentation::FR_CATEGORY, "Business")) -->
          <%= f.input :tag, label: "Tag", selected: "Parole d'expert", collection: Video::TAG %>
          <%= f.input :date, input_html: {value: video.published_at} %>
        </div>

        <div class="actions">
            <%= f.button :submit, "Importer",  class: 'btn-cta' %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>