<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Expert</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>

        <td><%= video.youtube_id %></td>
        <td><%= video.expert %></td>
        <td><%= video.category %></td>
        <td><%= video.subcategory %></td>
        <td><%= video.date %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
var client = algoliasearch("ADXJDI9UEF", "ea4fabd9298b3afe8fd053e9eb0594b7"); // public credentials
  var index = client.initIndex('Video');
  // helper
  var helper = algoliasearchHelper(client, index, {
    hitsPerPage: 50
  });

  helper.on('result', function(content) {
  console.log(content);
});

helper.on('error', function(err) {
  console.error(err);
});
helper.setQuery('app').search();
  // simple query
//index.search('app', searchCallback);

// with parameters
index.search(
  'app', {
    hitsPerPage: 5, facets: '*'
  },
  searchCallback
);

function searchCallback(err, content) {
  if (err) {
    return err;
  }

  content.hits.forEach(function(hit) {
    console.log(hit);
  });
}


</script>

