<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Expert</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>

        <td><%= video.youtube_id %></td>
        <td><%= video.expert %></td>
        <td><%= video.category %></td>
        <td><%= video.subcategory %></td>
        <td><%= video.date %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <header>
    <a href="." title="Home"><img src="img/instant_search_logo@2x.png"/></a>
    <div id="search-input"></div>
    <div id="search-input-icon"></div>
  </header>
  <main>
  <div id="left-column">
    <div id="category" class="facet"></div>
    <div id="brand" class="facet"></div>
    <div id="price" class="facet"></div>
    <div id="type" class="facet"></div>
  </div>


  <div id="right-column">
    <div id="sort-by-wrapper"><span id="sort-by"></span></div>
    <div id="stats"></div>
    <div id="hits"></div>
    <div id="pagination"></div>
  </div>
</main>
<%= link_to 'New Video', new_video_path %>
