<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tv-title-show">
          <%= @video.title %>
        </div>

        <div class="well well-lg">
          <div class="responsive-video">
            <iframe src="<%= @url %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      <p>

      </p>

      <p>
        intervention de <%= @video.expert %> le <%= @video.date %>
      </p>

      <p>
        <%= @video.category %> <%= @video.subcategory %>
      </p>
      <p>
        <%= @video.description %>
      </p>
    </div>
  </div>
</div>

