<p id="notice"><%= notice %></p>

<p>
  <iframe width="1000" height="400" src="//www.youtube.com/embed/<%=@video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
</p>

<p>
  <%= @video.title %>
</p>

<p>
  intervention de <%= @video.expert %> le <%= @video.date %>
</p>

<p>
  <%= @video.category %> <%= @video.subcategory %>
</p>
<p>
  <%= @video.description %>
</p>



<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
